$def-font-color: #333;
$def-font-active-color: #6dabff;
$def-bg-color: #e0edff;

$def-border-color: #dddddd;

$red: #ee0a24;
$orange: #ff976a;
$yellow: #fcff55;
$green: #07c160;
$cyan: #62ffff;
$blue: #1989fa;
$violet: #ff94ff;
$white: #ffffff;
$black: #000000;
$light-gray: #dddddd;

$default: #6dabff;
$success: #07c160 !global;
$error: #ee0a24;
$info: #1989fa;
$warning: #ff976a;